//site color variables
$body-color: rgb(255, 255, 255);
$bg-color: rgb(244, 243, 242);
$primary-color: rgb(32, 36, 72);
$secondary-color: rgb(32, 36, 72);
$text-color: #808080;
$text-color-dark: rgb(32, 36, 72) 5;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #ededf4;

// solid colors
$white: #fff;
$lightbrown: rgb(215, 198, 174);
$middlebrown: rgb(202, 166, 115);
$black: #000;
$darkblue: rgb(32, 36, 72);

// Font Variables
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
