<section class="gibraltar gibraltar-partial">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Gibraltar</h2>
				<p>Gibraltar is the only British international financial centre on the European mainland.</p>
        <p>Gibraltar has an English common law framework, a highly educated workforce, and UK-trained professionals. </p>
        <p>GibraItar is renowned as one of the best-regulated finance centres in the world and has provided cross-border financial services
          for over 30 years. It is the only location that offers a favourable fiscal environment for companies and individuals. Gibraltar is
          a self-governing, individual and distinct jurisdiction working to Central European time zone.
        </p>
        <p>
          Some key facts and tax benefits are:<br>
          – no value added tax<br>
          – no wealth tax<br>
          – no capital gains tax<br>
          – no inheritance tax<br>
          – no stamp duty on transfer of shares<br>
          – no exchange controls<br>
          – entered and exited the EU together with the United Kingdom<br>
          – high-quality infrastructure<br>
          – welcomed clampdown by FATF (Financial Action Task force) on money laundering<br>
          – regulatory standards matching those of the UK but with the flexible characteristics of a small jurisdiction
        </p>

        <p>In 1997 the Government of Gibraltar established a Finance Centre office in order to provide a further boost to financial
          services, an important sector of the Gibraltar economy. The Finance Centre collaborates with public sector bodies,
          regulator and business/industry associations, is responsible for the marketing and promotion of financial services,
          offers new businesses a comprehensive and informative service centre and provides input into strategic planning including
          the various international initiatives and product development.

        </p>
        <p>A Deposit Guarantee Scheme came into effect in 1999
          (<a  href="http://www.gdgb.gi/explanto.htm" target="_blank" >
          http://www.gdgb.gi/explanto.htm</a>).
        </p>
        <p>During Gibraltar’s membership of the European Union, Gibraltar implemented all relevant EU directives.
          Concurrently with the exit from the EU, Gibraltar has implemented the Financial Services Act 2019 and the Financial Services
          (Investment Services) Regulations 2020.
        </p>

        </p>
        The Financial Services Commission
        (<a href="http://www.fsc.gi/" target="_blank">
          http://www.fsc.gi/</a>)

          was established in 1989 as an independent statutory body, provides
          strong investor protection in relation to banking, insurance, fund management, financial services and
          matches UK standards in regulation and supervision.
        </p>
      </div>
      <div class="col-lg-6 min-height-500">
        <iframe
          width="100%"
          height="100%"
          loading="lazy"
          src="https://maps.google.com/maps?q=Eurotowers%2C%20Gibraltar&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near"
          title="Eurotowers, Gibraltar"
          aria-label="Eurotowers, Gibraltar"
        ></iframe>
      </div>
    </div>
  </div>
</section>
