{{ with .Site.Data.hero }}
  {{ if .enable }}
    <section class="hero hero-partial">
      <video
        id="bg-video"
        src="/video/video_v04_H264.mp4"
        type="video/mp4"
        src="/video/video_v04_H265.mp4"
        type="video/mp4"
        src="/video/video_v04_V9.webm"
        type="video/webm"
        playsinline
        mute
        autoplay
        loop
      ></video>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="hero-content">
              <h1>{{ .title | safeHTML }}</h1>
              <p>
                {{ .subtitle }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
